* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282c34;
}

.App {
    padding: 24px;
}

.App-divider {
    margin: 24px 0;
    border-top: 1px solid #61dafb;
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.App-header-date-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    text-align: end;
    margin: 0 16px 0 0;
}

.App-tasks {
    margin: 24px 0;
    padding: 24px 0;
}

.App-tasks-input {
    display: flex;
    justify-content: space-between;
}

.App-tasks-input input {
    width: 100%;
    padding: 8px;
    font-size: calc(10px + 1vmin);
    border-radius: 4px;
    margin: 0 0 16px 0;
}

.App-tasks-input button {
    padding: 8px;
    font-size: calc(10px + 1vmin);
    border-radius: 4px;
    margin: 0 0 16px 16px;
    background-color: #61dafb;
}

.App-tasks input[type="checkbox"] {
    margin: 0 8px 0 0;
    transform: scale(1.5);
}

.App-tasks-list {
    color: aliceblue;
    margin: 16px 0;
}

.App-tasks-list-item {
    display: flex;
    margin-top: 8px;
}

.App-tasks-finish {
    color: grey;
    text-decoration-line: line-through;
}
